<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Exam Vision</title>
    <link rel="stylesheet" href="/static/landing1.css">
    <link rel="stylesheet" href="/static/landing2.css">
</head>

<body>
    <div class="container mx-auto">
        <header>
            <nav class="flex justify-between">
                <div class="font-bold flex items-center text-blue logo">Exam Master</div>
               <ul class="navbar flex items-center">
                    <!-- <li><a href="Home.html">Home</a></li> -->
                    <li><a href="#about">About</a></li>
                    <li><a href="Contact Us.html">Contact Us</a></li>
                    <li><a href="auth/LoginType">Login</a></li>
                    <li><a href="auth/Signup">Sign Up</a></li>
                
            </nav>
            <hr>

        </header>
        <main class="min-h-screen ">
            
            <section class="section1">
                <div class="flex ">
                    <div class="topleft flex  justify-center flex-col px-2">
                        <h1 class="my-1 text-center">Welcome to ExamVision !</h1>
                        <p class="text-center">Your Ultimate Exam Writing Companion try our platform for free and see
                            the difference.</p>
                    </div>
                    <div class="topright ">
                        <img src="/static/smarthacks.jpeg.jpeg" alt="img1">
                    </div>
                </div>
            </section>
            <section id="about" class="about"></section>
            <section class="section2">
                <h1 class="text-center my-1"></h1>
                <div class="boxes flex justify-center items-center">
                    <div class="box">
                        <h3>continuous monitoring</h3>
                        <ul>
                            <li>
                              <img src="/static/ml.jpg" alt="AI">  
                            </li>
                            <li>
                               <!-- Continuous monitoring refers to the use of AI to ensure the integrity of an online exam. -->
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <h3>Report Analysis</h3>
                        <ul>
                            <li>
                              <img src="/static/report.jpeg" alt="AI">  
                            </li>
                            <li>
                               <!-- Study guides are provided within the platform to help students prepare for their exams. -->
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <h3>Practice tests </h3>
                        <ul>
                            <li>
                              <img src="/static/ai.jpg" alt="AI">  
                            </li>
                            <li>
                               <!-- Voice assistance refers to the use of voice-activated technology to help students interact. -->
                            </li>
                        </ul>
                    </div>
                </div>
              
                   
                </div>
            </section>
        </section>
        </main>
        </div>
</body>