<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Selection</title>
<link rel="stylesheet" href="/static/type.css">
</head>
<body>
<div class="container">
    <h1>Select Your Role</h1>
    <div class="buttons">
        <button class="admin" name="role">Admin</button>
        <a href="Tsignin"><button class="teacher">Teacher</button></a>
        <a href="Signin"><button class="student">Student</button></a>
    </div>
</div>
</body>
</html>

